---
layout: page
---
<link rel="stylesheet" href="/css/main.css">


<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
</header>

<div class="page-content">
  <div class="wrapper">
    <ul class="post-list">
      {% for page in site.pages %}
      {% if page.title %}
      <li>
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

