---
title: Welcome to Middleman
---

<h1>UI Patterns</h1>
<ul>
  <li><%= link_to "Auto Hide Navbar Bootstrap", "/auto-hide-navbar-bootstrap" %></li>
  <li><%= link_to "Code Font for Presentations", "/code-font-presentation" %></li>
</ul>
